*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}
#root {
   
  min-width: 100vw;
  max-height: 100%;
  
}
.App {
  display: flex;
  flex-direction: column;
  background-color: purple;
  min-height:100vh;
  min-width: 100vw;
  max-height: 100%;
  /* justify-content: stretch; */
}
#header{
  border: 2px solid blue;
  /* height: 5vh; */
}
#container{
  border: 3px solid black;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
#inputs {
  border: 5px solid green;
  width: 45%;
  margin: 5px;
  height: 90vh;
  padding: 50px;
  overflow-y: scroll;
}
#display {
  border: 5px solid red;
  width: 45%;
  margin: 5px;
  height: 90vh
}
@media (max-width: 1000px) {
  #inputs, #display {
    width:100%
  }
}

.field{
  /* border: 3px solid black; */
  margin: 5px;
}

.inputDiv{
  border: 3px solid deeppink;
}
.inputDiv > * {
  
  margin: 8px;
}
#cover-title{
  border: 1px solid black;
}
#cover-header{
  display:flex;
  flex-direction: column;

}